:root {
    --Orange: hsl(26, 100%, 55%);
    --Pale_Orange: hsl(25, 100%, 94%);
    --black: #1D2026;
    --white_background: #FFFFFF;
    --Very_vark_blue: hsl(220, 13%, 13%);
    --Dark_grayish_blue: hsl(219, 9%, 45%);
    --Grayish_blue: hsl(220, 14%, 75%);
    --Light_grayish_blue: hsl(223, 64%, 98%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);
    --nav_items: #69707D;
    --font-family: 'Kumbh Sans', sans-serif;
    --transition: ease-in 0.05ms;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    justify-content: space-around;
    box-sizing: border-box;
}

/* Navbar */
.navbar-brand {
    margin: 0.3rem auto 1.5rem 1rem;
}

.navbar-toggler1 {
    display: none;
}

.user-img {
    width: 2.8rem;
    margin: 0 2.5rem;
    border-radius: 50%;
}

.user-img:hover, .user-img:focus {
    box-shadow: var(--Orange);
}

.nav-link:hover,
.nav-link:focus {
    color: var(--Black);
    font-weight: 500;
}

.nav-link {
    position: relative;
}

.nav-link::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 4rem;
    height: 3px;
    background-color: var(--Orange);
    transition: 300ms ease-out;
    transform: scaleX(0);
}

.nav-link:hover::before,
.nav-link:focus::before {
    transform: scaleX(1);
}

.cart-icon {
    position: relative;
}

#cart-badge {
    background-color: var(--Orange);
}

hr {
    color: var(--Grayish_blue);
    height: 1px;
    margin-top: 0;
}

.cart-content-container {
    width: 21rem;
    position: absolute;
    margin-bottom: 10px;
    z-index: 1;
    box-shadow: var(--Dark_grayish_blue);
    border-radius: .5rem;
    top: 4.7rem;
    right: 17rem;
    padding: 1rem;
    background-color: var(--white_background);
    opacity: 0;
    height: 15.5rem;


}
.cart-line {
    margin-bottom: 0;
    padding-bottom: 0;
}

.empty-cart {
    opacity: 0;
    text-align: center;
    margin-top: 1rem;
    color: var(--Dark_grayish_blue);
    font-weight: 600;
    visibility: hidden;
}

.cart-content-details {
    margin: 0;

    opacity: 0;
}

.in-cart-product-img {
    width: 3rem;
    border-radius: .3rem;
    margin: 0 .5rem 1rem 0;
}

.checkout {
    width: 100%;
    background-color: var(--Orange);
    border-radius: .5rem;
    border: none;
    height: 3rem;
    outline: none;
}

.checkout:hover {
    background-color: var(--Orange);
    outline: none;
    border: none;
    opacity: .7;
}

.checkout:focus,
.checkout:active {
    background-color: var(--Orange);
    outline: 0;
    border: 0;
}

.total-price {
    font-weight: 600;
}

.delete-icon:hover {
    cursor: pointer;
}

.active-cart {
    opacity: 1;
    visibility: visible;
}

/* Product images */

.thumbnail-img {
    width: 100%;
}

.column {
    float: left;
    width: 7rem;
    padding: 10px;
}


.column img {
    cursor: pointer;
    border-radius: 0.5rem;
}

.column img:hover,
.active {
    opacity: .7;
}

.active {
    outline: 3px solid var(--Orange);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    position: relative;
    display: none;
}

#mainImage {
    width: 70%;
    border-radius: 0.5rem;
    margin-top: 4rem;
    position: relative;
}

#next, #previous {
    display: none;
}

/* Product details */
.product-details-section {
    width: 50%;
    margin-right: 5%;
    margin-top: 9rem;
    font-size: 1.5rem;
}

.product-details-header {
    color: var(--Orange);
    font-size: 0.8rem;

    letter-spacing: 0.1rem;
    font-weight: 500;
}

.product-details-title {

    font-size: 44px;
}

#discount {
    font-size: 15px;
    background-color: var(--Pale_Orange);
    color: var(--Orange);
}

.product-details {
    color: var(--Dark_grayish_blue);
    font-size: 16px;

}

.product-discounted-price {
    font-size: 28px;
}

.product-discounted-price span {
    color: var(--Orange);
    font-weight: 600;
    font-size: 1.3rem;
    background-color: var(--white_background);
    padding: 0.3rem;
    border-radius: 0.5rem;
}

.product-original-price {
    color: var(--white_background);
    opacity: 0.5;
    font-size: 16px;
    font-weight: bold;
}

.cart-controls {
    background-color: var(--white_background);
    width: 9rem;
    height: 3.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
}

#cart-decrease,
#cart-increase {
    color: var(--Orange);
    cursor: pointer;
    width: 13px;
}

.add-to-cart-btn,
.add-to-cart-btn:focus {
    background-color: var(--Orange);
    color: var(--white_background);
    font-weight: 600;
    font-size: 1rem;
    border-radius: 7px;
    width: 17rem;
    height: 56px;
    border: none;
    box-shadow: none;
    margin-top: 0.5rem;
}

.add-to-cart-btn:hover {
    background-color: hsl(25, 100%, 65%);
    height: 3.5rem;
}

#cart-number {
    font-size: 16px;
    font-weight: bold;
}

/* Media queries */
@media screen and (max-width: 768px) {
    /* nav */
    .container-lg {
        padding: 0;
    }

    .offcanvas {
        width: 50%;
    }

    .navbar-brand {
        margin: 0;
        padding: 0;
    }

    .navbar-toggler1 {
        display: block;
        border: 0;
        background-color: transparent;
    }

    .cart-icon {
        margin-left: auto;
    }

    .user-img {
        margin: 0 1rem;
        width: 2rem;
    }

    .nav-link::before {
        top: 1.7rem;
        transform-origin: left;
    }

    .nav-link,
    .nav-link:hover,
    .nav-link:focus {
        font-weight: 600;
    }

    hr {
        display: none;
    }

    .cart-content-container {
        width: 80%;
        top: 5rem;
        right: 2rem;
        left: 2rem;
    }

    /* images */
    #mainImage {
        margin-top: .6rem;
        width: 100vw;
        height: auto;
        border-radius: 0;
        position: relative;
    }

    #next {
        display: inline;
        margin-right: auto;
        background-color: var(--White);
        border-radius: 50%;
        padding: 0.7rem;
        position: absolute;
        right: 1%;
    }

    #previous {
        display: inline;
        margin-left: auto;
        background-color: var(--White);
        border-radius: 50%;
        padding: 0.7rem;
        position: absolute;
        left: 1%;
    }


    #previous:hover, #next:hover {
        cursor: pointer;
    }

    .thumbnail-img {
        display: none;
    }

    /* details*/
    .product-details-section {
        margin-top: 0;
        padding-top: 0;
        margin-left: 1rem;
        width: 100%;
        font-size: 1rem;
    }

    .product-details-header {
        font-size: 1rem;
    }

    .product-details-title {
        font-size: 2.2em;
    }

    span {
        margin-left: 1rem;
        font-size: 1.3rem;
        align-self: center;
    }

    .flex-sm-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    /* Cart */
    .cart-controls {
        width: 100%;
    }

    .add-to-cart-btn,
    .add-to-cart-btn:focus,
    .add-to-cart-btn:hover {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        height: border-box;
    }


}
