:root{
    --orange:#FF7E1B;
    --black:#1D2026;
    --white_background:#FFFFFF;
    --nav_items:#69707D;
    --font-family: 'Kumbh Sans', sans-serif;
    --transition: ease-in 0.05ms;
}
/* resets */
* {
    margin: 0;
    padding: 0;

}

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    font-family: 'Kumbh Sans', sans-serif;
    justify-content: space-around;
    box-sizing: border-box;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-flow: row;
    gap: 2rem;
    text-align: center;
    align-content: stretch;
    align-items: center;
    justify-content: center;

}
nav ul a{
    color: var(--nav_items);
    text-decoration: none;
}
nav {
    margin: 10px 0 0 20px;
    display: flex;
    font-size: 14px;
    position: absolute;
    left: 100px;
    right: 100px;
    border: var(--nav_items) solid 5px 5px 0px 0;
    flex-flow: row;

}
#nav-div-two a:hover{
    color: var(--orange);
    transition: ease-in-out 1ms;
}
#nav-header{
    margin-right: 10px;
    font-size: 35px;
    color: var(--black);
}
#nav-div-two{
    flex: 2;
    align-self: center;
    justify-content: center;
}
#nav-div-three{
    flex: 1;
    align-self: center;
    justify-content: center;
    margin-left: 20px;
}
#nav-div-three #cart{
    font-size: 20px;
}
#nav-div-three #cart:hover{
    color: var(--orange);
}
#image-avatar{
   width: 40px;
}
#image-avatar:hover{
    border: #FF7E1B solid;
    border-radius: 5px;
    cursor: pointer;
}
#cart:hover{
    color: var(--orange);
}
#separator{
    border: 2px var(--nav_items) solid;
}
